// animation.css

@import '../sass/animationMixin.scss';
$border: black solid 5px;

header{
  grid-column: 1 / 5;
  grid-row: 1;
  justify-self: center;
}

body{
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(9, auto);
}
#transform{
  border:$border;
  grid-column: 1;
    grid-row: 3;
  transform: rotate(360deg);
}
#transform:hover{
  ms-transform: rotate(45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
#transition{
  border: $border;
  grid-column: 3;
  grid-row: 4;
}
#transition:hover{
  -ms-transform: scale(2, 3);
    -webkit-transform: scale(2, 3);
    transform: scale(2, 3)
}
#animation{
  border: $border;
  grid-column: 5;
  grid-row: 6;
@include animationMixin(5);
}
section{
grid-column: 1 / 5;
grid-row: 7 / 9;
}
