
@media only screen and (max-width: 480px){
div{
  border:2px solid black;
  height:300px;
  width: 400px;
  background-color: #D2691E;
  padding: 10px;
}
}
@media only screen and (min-width: 481px){
div{
  border:2px solid red;
  height:90px;
  width: 728px;
  background-color: #D2691E;
}
}
